.CodeMirror {
    border: 1px solid black;
    font-size: 13px;
}

footer{
    height: 50px;
    background-color: #f5f5f5;
}

footer p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#result{
  margin-bottom: 50px;
}

.row{
  margin-bottom: 20px;
}

.sparql-example{
  cursor: pointer;
}

#xsltcontainer{
  display: none;
}

.panel-body{
  max-height: 450px;
  overflow: scroll;
}

.pre-scrollable {
    max-height: 550px;
    overflow-y: scroll;
}

#permalink-url{
  font-size: 24px;
  text-align: center;
}

#fullscreen-navbar {
  display: none;
  background-color: #f5f5f5;
}

#fullscreen-navbar .container {
  text-align: center;
}

#fullscreen-navbar .row {
  margin-bottom: 0px;
}

#fullscreen-navbar input {
  margin-top:5px;
  margin-bottom: 5px;
}

.CodeMirror-fullscreen {
  top: 44px;
}

.btn-dark {
    color: #fff;
    background-color: #555;
    border-color: #555;
}

.btn-dark:hover {
    color: #fff;
    background-color: #aaa;
    border-color: #666;
}

.container-fluid{
    max-width: 1600px;
}
